<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="body-nav-fixed">
  <nav class="nav-fixed nav-default">
    <div class="container">
      <div class="nav-container flex flex-wrap justify-between items-center">
        <a href="./" class="nav-brand inline-block"><img class="h-16" src="../assets/images/nodepress-logo.png"
            alt="nodepress" /></a>
        <a id="nav-menu-toggle" class="md:hidden"><span class="material-icons">menu</span></a>
        <!-- <div class="border-b basis-full md:hidden mt-2"></div> -->
        <div id="nav-menu" class="nav-menu h-0 md:h-auto">
          <a class="nav-menu-link" href="./page.html">Why NodePress?</a>
          <a class="nav-menu-link" href="./page.html">Showcase</a>
          <a class="nav-menu-link" href="./page.html">Learn</a>
          <a class="nav-menu-link" href="./page.html">Themes</a>
          <a class="nav-menu-link" href="./page.html">Plugins</a>
          <a class="nav-menu-link" href="./page.html">Support</a>
        </div>
      </div>
    </div>
  </nav>
  <main>