<%= require('html-loader!./partials/header.html').default %>
  <section class="container section hero-section">
    <h1 class="hero-section-heading">NodePress</h1>
    <div class="hero-section-content">NodePress is open source software you can use to create a beautiful
      website, blog, or
      app</div>
  </section>
  <section class="container section grid md:grid-cols-2 gap-8">
    <% for(var i=0; i<12; i++) {%>
      <div class="card card-post">
        <h2 class="card-post-title">NestJS là gì?</h2>
        <div><a href="./category.html" class="card-post-category">Category</a>
        </div>
        <div><span class="card-post-date">19/01/2022</span></div>
        <div class="card-post-description">NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng
          dụng web, api.</div>
        <div class="text-right"><a href="./post.html" class="card-post-readmore-link">[Readmore]</a>
        </div>
      </div>
      <% } %>
  </section>

  <%= require('html-loader!./partials/footer.html').default %>