<%= require('html-loader!./partials/header.html').default %>
  <section>
    <h1>Hero Block title</h1>
    <p>Hero block description</p>
  </section>
  <section>
    <div class="card">
      <h3 class="card-title">NestJS là gì?</h3>
      <a href="">Category</a>
      <span>19/01/2022</span>
      <p>NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng dụng web, api</p>
      <a href="">Readmore</a>
    </div>
    <div class="card">
      <h3 class="card-title">NestJS là gì?</h3>
      <a href="">Category</a>
      <span>19/01/2022</span>
      <p>NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng dụng web, api</p>
      <a href="">Readmore</a>
    </div>
    <div class="card">
      <h3 class="card-title">NestJS là gì?</h3>
      <a href="">Category</a>
      <span>19/01/2022</span>
      <p>NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng dụng web, api</p>
      <a href="">Readmore</a>
    </div>
    <div class="card">
      <h3 class="card-title">NestJS là gì?</h3>
      <a href="">Category</a>
      <span>19/01/2022</span>
      <p>NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng dụng web, api</p>
      <a href="">Readmore</a>
    </div>
    <div class="card">
      <h3 class="card-title">NestJS là gì?</h3>
      <a href="">Category</a>
      <span>19/01/2022</span>
      <p>NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng dụng web, api</p>
      <a href="">Readmore</a>
    </div>
  </section>

  <%= require('html-loader!./partials/footer.html').default %>